@using DataModel.Entities.RelatedToProduct
@model DataModel.Entities.RelatedToProduct.Attribute

@{
    Layout = null;
    List<Category> lstCategories = (List<Category>)ViewBag.Categories;
    lstCategories.Insert(0, new Category()
    {
        Id = 0,
        Name = "انتخاب کنید"
    });
    SelectList selectList = new SelectList(lstCategories, "Id", "Name");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <script src="~/Js/jquery-2.1.3.min.js"></script>
</head>
<body>
    @using (Html.BeginForm("PostCreate", "AttributeManagement", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Attribute</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AttributeTypeCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.AttributeTypeCode, new SelectList((List<AttributeType>)ViewBag.AttributeType, "Id", "Name"))
                </div>
            </div>

            <div class="form-group">
                @Html.Label("دسته بندی شاخه اول", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("mainCategory", selectList)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("دسته بندی شاخه دوم", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("subCategory", new SelectList(new List<string>(), "Id", "Name"))
                </div>
            </div>

            <div class="form-group">
                @Html.Label("دسته بندی شاخه سوم", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("subsubCategory", new SelectList(new List<string>(), "Id", "Name"))
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>

<script>
    var ajaxCategory = $.parseJSON('@Html.Raw(Json.Encode((List<Category>)ViewBag.Categories))');

    $("#mainCategory").on("change", function () {
        $("#subCategory").html("<option selected disabled value=''>انتخاب نمایید</option>");
        $("#subsubCategory").html("<option selected disabled value='' >انتخاب نمایید</option>");

        $.each(ajaxCategory, function (index, value) {
            if (value.Id == $("#mainCategory option:selected").val()) {
                if (value.SubCategories != null) {
                    $.each(value.SubCategories, function (index2, value2) {
                        $("#subCategory").append($('<option>').text(value2.Name).attr('value', value2.Id));
                    });
                }
            }
        });


    });


    $("#subCategory").on("change", function () {

        $("#subsubCategory").html("<option selected disabled value='' >انتخاب نمایید</option>");
        $.each(ajaxCategory, function (index, value) {
            if (value.Id == $("#mainCategory option:selected").val()) {
                if (value.SubCategories != null) {
                    $.each(value.SubCategories, function (index2, value2) {
                        if (value2.Id == $("#subCategory option:selected").val()) {
                            if (value2.SubCategories != null) {
                                $.each(value2.SubCategories, function (index3, value3) {
                                    $("#subsubCategory").append($('<option>').text(value3.Name).attr('value', value3.Id));
                                });
                            }

                        }
                    });
                }
            }
        });
    });

</script>
