@using Boundary.Helper.StaticValue
@model IEnumerable<Boundary.Areas.SuperAdmin.Models.AdminViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Role
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <img src="~/@item.ImgAddress" height="100" width="125" alt="">
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProfile", "Panel", new { adminCode = item.Id, area = StaticString.Role_Admin }, null) |
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
