@model Boundary.Areas.Admin.Models.HBPaymentToMemberViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>HBPaymentToMemberViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AdminName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AdminName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Money)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Money)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TrackingCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TrackingCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MemberCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MemberCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MemberName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MemberName)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm("PostDelete", "PaymentToMember", new { id = Model.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
