@model DataModel.Entities.FirstPage.FirstPage_Advertise

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm("PostEdit", "Advertise", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>FirstPage_Advertise</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
    
            <div class="form-group">
                @Html.LabelFor(model => model.PlaceCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PlaceCode)
                    @Html.ValidationMessageFor(model => model.PlaceCode)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartDate)
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndDate)
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.StartTime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartTime)
                    @Html.ValidationMessageFor(model => model.StartTime)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.EndTime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndTime)
                    @Html.ValidationMessageFor(model => model.EndTime)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Link, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link)
                    @Html.ValidationMessageFor(model => model.Link)
                </div>
            </div>   
            
            <div class="form-group">
                @Html.Label("Current Image", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <img src="~/@Model.ImgAddress" height="250" width="400" alt="">
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Choose a pictiure", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="file" id="file" />
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
