<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.title</title>
    <link rel="shortcut icon" href="~/Img/MainPage/Logo.png" type="image/x-icon" />
    <link rel='icon' href="~/Img/MainPage/Logo.png" type='image/x-icon' />
    <link rel='apple-touch-icon' href="img/logo.png" />
    <meta http-equiv="content-language" content="fa" />
    <meta name="keywords" content="@ViewBag.keywords " />
    <meta name="description" content="@ViewBag.description" />
    <link rel="stylesheet" href="~/newAsset/css/styles.css">
    <link rel="stylesheet" href="~/newAsset/css/icons.css">

    @RenderSection("Style", false)
</head>
<body ng-app="app" >

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }

    <header class="container" ng-controller="layoutCtrl">
        <div class="sizeManager">
            <div class="header">
                <div class="organizer mainHeader elementTopVerticalMargin noTopMarginInPhone HalfHorizontalPaddingInPhone standardVerticalPaddingInPhone">
                    @using Boundary.Controllers.Ordinary    @using Boundary.Helper.StaticValue
                    @using Microsoft.AspNet.Identity
                    @{
                        long storeCode = 0;
                        string homePage = "";
                    }
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole(StaticString.Role_Seller))
                        {
                            string userId = User.Identity.GetUserId();
                            MainSession mainSession = (MainSession)Session[userId];
                            if (mainSession != null)
                            {
                                storeCode = mainSession.Store.StoreCode;
                                homePage = mainSession.Store.HomePage;
                            }

                            <div class="afterLogin primaryOptions pinkColor solidLineHeight thickFont goRight">
                                <div class="storeFrontPage profilePic goRight relativeMatter">
                                    <img src="" class="imageInMiddle">
                                    <div class="openUpObject profileMiniBox textInCenter standardDoublePadding boxElement radiusBox relativeMatter">
                                        <div class="topPointer organizer"></div>
                                        <div class="profilePic relativeMatter blockInlineMode elementTopVerticalMargin">
                                            <img src="" class="imageInMiddle">
                                        </div>
                                        <a href="~/shop?id=@storeCode">
                                            <div class="organizer darkGray standardHalfVerticalMargin">مشاهده فروشگاهتان</div>
                                        </a>

                                        @*<div class="organizer standardVerticalMargin">تغییر رمز عبور</div>*@
                                        <div class="exitMode organizer">
                                            <a href="~/Account/LogOff">
                                                <div class="outlineButton redBack thickFont standardPadding whiteColor elementTopVerticalMargin"><span class="icon icon-exit"></span> خروج</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <a href="~//Seller/StoreManagment/SellerPanel" class="pinkColor">
                                    <div class="thickFont siteGuideline standardPadding goRight greenBorder outlineButton greenColor standardHorizontalMargin"><span class="icon icon-compass2 movingCompass standardHorizontalLeftMargin twentyTwoFontsize"></span>پنل مدیریت </div>
                                </a>
                                <a href="~/Seller/ProductManagment/AddProduct">
                                    <div class="thickFont siteGuideline standardPadding goRight pinkBorder outlineButton pinkColor"><span class="icon icon-box-add standardHorizontalLeftMargin twentyTwoFontsize"></span>افزودن محصول جدید</div>
                                </a>
                            </div>


                        }
                        if (User.IsInRole(StaticString.Role_Admin) || User.IsInRole(StaticString.Role_SuperAdmin))
                        {
                            <div class="normalUser primaryOptions pinkColor solidLineHeight thickFont goRight">
                                <a href="@Url.Action("Index", "Panel", new { area = "Admin" }, null)">
                                    <span class="goRight"><span class="icon icon-user-tie"></span> صفحه مدیریت </span>
                                </a>
                                <span class="veryLightColor goRight standardHorizontalMargin">|</span>
                                <a href="~/Account/LogOff">
                                    <span class="goRight"><span class="icon icon-exit"></span> خروج</span>
                                </a>
                                <a href="~/Static/UserGuid" class="pinkColor"><div class="thickFont siteGuideline standardPadding goRight greenBorder outlineButton greenColor standardHorizontalMargin"><span class="icon icon-compass2 movingCompass standardHorizontalLeftMargin twentyTwoFontsize"></span>راهنمای سایت </div></a>
                            </div>

                        }
                        if (User.IsInRole(StaticString.Role_Member))
                        {
                            <div class="normalUser primaryOptions pinkColor solidLineHeight thickFont goRight">
                                <a href="@Url.Action("Index", "Panel", new { area = "Member" }, null)">
                                    <span class="goRight"><span class="icon icon-user-tie"></span> صفحه مدیریت </span>
                                </a>
                                <div class="borderInBothSides goRight standardHorizontalPadding standardHorizontalMargin relativeMatter shopBasketOpener">
                                    @*<span class="counter twelveFontSize greenBack totalRadius smallPadding whiteColor">1</span>*@
                                    <a href="~/Order">
                                        <span class="icon icon-credit-card"></span> سبد خرید شما
                                    </a>
                                    <!-- hover for bascket-->
                                    @*<div class="openUpObject shopBasket boxElement radiusBox goRight">

                                            <div class="topPointer organizer"></div>
                                            <div class="forOverFlow">
                                                <div class="itemContainer thickFont organizer loginPadding relativeMatter borderBottom">
                                                    <div class="oneThreeFullColumn">
                                                        <div class="circleImageContainer">
                                                            <img src="" alt="" class="imageInMiddle">
                                                        </div>
                                                    </div>
                                                    <div class="twoThreeFullColumn">
                                                        <div class="itemInfoes verticallyInCenter">
                                                            <div class="itemTitle greenColor organizer">iphone 6S 64GB</div>
                                                            <div class="itemDetail organizer smallExplain">دستگاه آیفون سون کارکرده با قیمت مناسب</div>
                                                            <div class="itemTags organizer">
                                                                <div class="tagInner outlineButton fillButton smallPadding whiteColor pinkBack">نام فروشگاه</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="itemContainer thickFont organizer loginPadding relativeMatter borderBottom">
                                                    <div class="oneThreeFullColumn">
                                                        <div class="circleImageContainer">
                                                            <img src="" alt="" class="imageInMiddle">
                                                        </div>
                                                    </div>
                                                    <div class="twoThreeFullColumn">
                                                        <div class="itemInfoes verticallyInCenter">
                                                            <div class="itemTitle greenColor organizer">iphone 6S 64GB</div>
                                                            <div class="itemDetail organizer smallExplain">دستگاه آیفون سون کارکرده با قیمت مناسب</div>
                                                            <div class="itemTags organizer">
                                                                <div class="tagInner outlineButton fillButton smallPadding whiteColor pinkBack">نام فروشگاه</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                                <a href="~/Account/LogOff">
                                    <span class="goRight"><span class="icon icon-exit"></span> خروج</span>
                                </a>
                                <a href="~/Static/UserGuid" class="pinkColor"><div class="thickFont siteGuideline standardPadding goRight greenBorder outlineButton greenColor standardHorizontalMargin"><span class="icon icon-compass2 movingCompass standardHorizontalLeftMargin twentyTwoFontsize"></span>راهنمای سایت </div></a>
                            </div>

                        }
                    }
                    else
                    {
                        <div class="primaryOptions pinkColor solidLineHeight thickFont goRight hiddenInPhone">
                            <div class="goRight pointer" ng-click="showLoginBox();"><span class="icon icon-user-check pointer"></span> ورود</div>
                            <div class="borderInBothSides goRight standardHorizontalPadding standardHorizontalMargin pointer"><span class="icon icon-user-plus"></span> <span ng-click="showRegisterBox();"> ثبت نام</span></div>
                            
                                <div class="goRight standardHalfHorizontalLeftMargin pointer">
                                    <a href="~/Static/UserGuid" class="pinkColor">
                                        <span class="icon icon-compass2 "></span> راهنمای سایت
                                    </a>
                                </div>
                            
                                <div class="thickFont siteGuideline standardPadding goLeft greenBorder outlineButton greenColor">
                                    <a href="~/Store/AddStore" class="pinkColor">
                                        <span class="icon icon-file-text movingCompass standardHorizontalLeftMargin twentyTwoFontsize"></span>ثبت فروشگاه
                                    </a>
                                </div>
                        </div>
                        <!-- roo navigation click shod navigationOpen baz mishe. khasiate toggle dare yni dobare click shod baste ham bshe-->
                        <div class="navigation pointer goRight doublePrefer relativeMatter">
                            <!-- class topLine ve line vaghti ezafe mishe k roo navigation click bshe-->
                            <div id="line1" class="line organizer blackBack"></div>
                            <!--<div class="line organizer blackBack topLine"></div>-->
                            <div id="line2" class="line organizer smallVerticalMargin blackBack"></div>
                            <!-- class bottomLine ve line vaghti ezafe mishe k roo navigation click bshe-->
                            <div id="line3" class="line organizer blackBack"></div>
                            <!--<div class="line organizer blackBack bottomLine"></div>-->
                        </div>

                        <div class="navigationPanel">
                            <!-- roo in click shod navigation baste beshe-->
                            <div class="outside pointer" style="display: none;"></div>
                            <div class="navigationOpen rightPopUp grayBack prefer" style="display: none;">
                                <div class="userActs organizer">
                                    <span class="goLeft standardHorizontalLeftMargin pointer" ng-click="showLoginBox();"><span class="icon icon-user-check pointer"></span> ورود</span>
                                    <span class="goLeft standardHorizontalPadding pointer"><span class="icon icon-user-plus"></span> <span ng-click="showRegisterBox();"> ثبت نام</span></span>
                                </div>
                                <div class="separateLine darkerGrayBack organizer standardTopVerticalMargin"></div>
                                <div class="categories">
                                    <!-- be ezaye har ye doone item category yki az ina tekrar mishe-->
                                    <div class="organizer grayBack bottomGrayBorder" ng-repeat="menu in allMenu">
                                        <span class="organizer standardPadding thickFont pointer" ng-click="showSubmenu($event)"> {{menu.Name}}<span class="icon icon-arrow-down2 goLeft moveFromTop"></span></span>
                                        <!-- in div zir shakhe category hast-->
                                        <div class="submenu">
                                            <div class="organizer darkerGrayBack standardPadding pointer thickFont bottomDarkerGrayBorder" ng-repeat="subMenu in menu.SubCategories"><a href="/Search/#!/categoryCode-{{subMenu.Id}}"><div>{{subMenu.Name}}</div> </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="goRight hiddenInDesktop">
                            <div class="goRight textInRight">
                                <a href="~/Store/AddStore" class="pinkColor">
                                    <div class="thickFont siteGuideline standardPadding goRight greenBorder outlineButton greenColor">
                                        <span class="icon icon-file-text movingCompass standardHorizontalLeftMargin twentyTwoFontsize"></span>ثبت فروشگاه
                                    </div>
                                </a>
                            </div>
                        </div>

                    }
                    <div class="searchPart goRight standardHorizontalMargin hiddenInPhone">
                        <!--
                             <div class="searchType goLeft">
                             <div class="selectbox relativeMatter standardPadding goLeft">
                                 <span class="icon-select-arrow goLeft"></span>
                                 <div class="defaultSelectValue goRight">فروشگاه یا کالا؟</div>
                                 <div class="options">
                                     <div class="optionInner"></div>
                                 </div>
                             </div>
                         </div>
                        -->
                        <!-- har vaght box search baz shod "searchActivate" ezafe bshe be class "searchField" -->
                        <div id="searchField1" class="searchField  goLeft standardPadding relativeMatter standardHorizontalLeftMargin">
                            <div class="searchButtonPart goLeft pinkBack"><span class="icon icon-search whiteColor twentyTwoFontsize objectInMiddle"></span> </div>
                            <div class="searchTextPart goLeft">
                                <input id="SearchTextBox1" type="text" placeholder="فروشگاه یا کالای خود را بیابید" class="SearchTextBox searchInput thickFont darkGray" />
                            </div>
                            <!-- box search in hast k baz mishe -->
                            <div id="Search_Task_Open1" class="Search_Task_Open openUpSearch relativeMatter openUpObject boxElement radiusBox" style="display: none">
                                <div class="verticalLine objectInMiddle"></div>
                                <div class="twoFullColumn searchInProducts">
                                    <div class="noProductFound textInCenter" ng-hide="searchResult.ProductsResult.length>0">
                                        <div class="organizer">
                                            <img src="~/newAsset/images/mailbox-empty-tool.svg" width="90" />
                                        </div>
                                        <div class="organizer thickFont">محصولی یافت نشد</div>
                                        <div class="organizer twelveFontSize">با عبارتی دیگر امتحان نمایید</div>
                                    </div>
                                    <div class="titleBar relativeMatter thickFont organizer standardPadding">
                                        <div class="titleSubject goRight"><span class="icon icon-barcode"></span> محصولات</div>
                                        @*<div class="titleSeemore goLeft greenColor thirteenFontSize">بیشتر ببینید</div>*@
                                    </div>

                                    <!-- be ezaye har element yaft shode ye seperator line miad be joz element akhar k badesh nmiad separator line -->
                                    <div ng-repeat="productsResult in searchResult.ProductsResult" ng-show="searchResult.ProductsResult">
                                        <div class="itemContainer organizer standardPadding relativeMatter">
                                            <a href="~/product/{{productsResult.ProductId}}">
                                                <div class="oneThreeFullColumn">
                                                    <div class="circleImageContainer">
                                                        <img ng-src="/{{productsResult.ProductImgAddress?productsResult.ProductImgAddress:noProductPic}}" alt="{{productsResult.ProductName}}" class="imageInMiddle">
                                                    </div>
                                                </div>
                                                <div class="twoThreeFullColumn">
                                                    <div class="itemInfoes verticallyInCenter">
                                                        <div class="itemTitle greenColor organizer thirteenFontSize" ng-bind="productsResult.ProductName"> </div>
                                                        <div class="itemTags organizer">
                                                            <div class="tagInner outlineButton fillButton smallPadding whiteColor pinkBack" ng-bind="productsResult.StoreName">نام فروشگاه</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="separatorLine organizer"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="twoFullColumn searchInStore">
                                    <div class="noStoreFound objectInMiddle textInCenter" ng-hide="searchResult.StoresResult.length>0">
                                        <div class="organizer">
                                            <img src="~/newAsset/images/store.svg" width="90" />
                                        </div>
                                        <div class="organizer thickFont">فروشگاهی یافت نشد</div>
                                        <div class="organizer twelveFontSize">با عبارتی دیگر امتحان نمایید</div>
                                    </div>
                                    <div class="titleBar relativeMatter thickFont organizer standardPadding">
                                        <div class="titleSubject goRight"><span class="icon icon-cart"></span>  فروشگاه</div>
                                        @*<div class="titleSeemore goLeft pinkColor thirteenFontSize">بیشتر ببینید</div>*@
                                    </div>
                                    <div class="itemContainer organizer borderBottom" ng-repeat="storesResult in searchResult.StoresResult" ng-show="searchResult.StoresResult">
                                        <a href="~/shop/code/{{storesResult.Id}}">
                                            <div class="itemContainer organizer radiusBox standardPadding relativeMatter">
                                                <div class="oneThreeFullColumn">
                                                    <div class="circleImageContainer">
                                                        <img ng-src="/{{storesResult.ImgAddress?storesResult.ImgAddress:noStorePic}}" alt="{{storesResult.Name}}" class="imageInMiddle">
                                                    </div>
                                                </div>
                                                <div class="twoThreeFullColumn">
                                                    <div class="itemInfoes verticallyInCenter">
                                                        <div class="itemTitle greenColor organizer darkGray thirteenFontSize" ng-bind="storesResult.Name"> </div>
                                                        @*<div class="itemDetail organizer smallExplain greenColor smallVerticalPadding" ng-bind="storesResult.CityName"> </div>*@
                                                        <div class="itemTags organizer">
                                                            <div class="tagInner outlineButton fillButton smallPadding whiteColor pinkBack" ng-bind="storesResult.CityName"> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="separatorLine organizer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- menu samte rast dar halate mamooli-->
                    <div class="goLeft hiddenInDesktop">
                        <span class="goLeft relativeMatter soloHeight logo">
                            <img src="~/newAsset/images/logo.png" alt="" class="imageInMiddle noObjectFits">
                        </span>
                        <div id="searchIconInMobile" class="circleSearchIcon whiteColor goLeft pinkBack relativeMatter standardHorizontalLeftMargin">
                            <!-- ree search icon click shod class icon-search beshe icon-cross-->
                            <span class="icon icon-search goRight eightyFontsize objectInMiddle pointer"></span>
                        </div>

                        <div class="searchPart goLeft">
                            <!--
                                 <div class="searchType goLeft">
                                 <div class="selectbox relativeMatter standardPadding goLeft">
                                     <span class="icon-select-arrow goLeft"></span>
                                     <div class="defaultSelectValue goRight">فروشگاه یا کالا؟</div>
                                     <div class="options">
                                         <div class="optionInner"></div>
                                     </div>
                                 </div>
                             </div>
                            -->
                            <!-- har vaght box search baz shod "searchActivate" ezafe bshe be class "searchField" -->
                            <div id="searchBoxInMobile" class="topPopup loginPadding relativeMatter newSearch doublePrefer organizer whiteBack resetIndex">
                                <div id="searchField2" class="searchField standardPadding relativeMatter organizer">
                                    <div class="searchButtonPart goLeft pinkBack"><span class="icon icon-search whiteColor twentyTwoFontsize objectInMiddle"></span> </div>
                                    <div class="searchTextPart goRight">
                                        <input id="SearchTextBox2" type="text" placeholder="فروشگاه یا کالای خود را بیابید" class="SearchTextBox searchInput thickFont darkGray" />
                                    </div>
                                    <!-- box search in hast k baz mishe -->
                                    <div id="Search_Task_Open2" class="Search_Task_Open openUpSearch relativeMatter openUpObject boxElement radiusBox" style="display: none">
                                        <div class="twoFullColumn leftBorder searchInProducts pointer" ng-class="showProductBoxInSearch?'activeSearch':''" ng-init="showProductBoxInSearch=true;" ng-click="showProductBoxInSearch=true;showStoreBoxInSearch=false;">

                                            <div class="titleBar relativeMatter thickFont organizer standardPadding">
                                                <div class="titleSubject goRight"><span class="icon icon-barcode"></span> محصولات</div>
                                                @*<div class="titleSeemore goLeft greenColor thirteenFontSize">بیشتر ببینید</div>*@
                                            </div>

                                            <!-- be ezaye har element yaft shode ye seperator line miad be joz element akhar k badesh nmiad separator line -->
                                        </div>
                                        <div class="twoFullColumn searchInStore pointer" ng-class="showStoreBoxInSearch?'activeSearch':''" ng-click="showProductBoxInSearch=false;showStoreBoxInSearch=true;">

                                            <div class="titleBar relativeMatter thickFont organizer standardPadding">
                                                <div class="titleSubject goRight"><span class="icon icon-cart"></span>  فروشگاه</div>
                                                @*<div class="titleSeemore goLeft pinkColor thirteenFontSize">بیشتر ببینید</div>*@
                                            </div>
                                        </div>
                                        <div class="organizer">
                                            <div ng-show="showProductBoxInSearch">
                                                <div ng-repeat="productsResult in searchResult.ProductsResult" ng-show="searchResult.ProductsResult">
                                                    <div class="itemContainer organizer standardPadding relativeMatter">
                                                        <a href="~/product/{{productsResult.ProductId}}">
                                                            <div class="oneThreeFullColumn">
                                                                <div class="circleImageContainer">
                                                                    <img ng-src="/{{productsResult.ProductImgAddress?productsResult.ProductImgAddress:noProductPic}}" alt="{{productsResult.ProductName}}" class="imageInMiddle">
                                                                </div>
                                                            </div>
                                                            <div class="twoThreeFullColumn">
                                                                <div class="itemInfoes verticallyInCenter">
                                                                    <div class="itemTitle greenColor organizer thirteenFontSize" ng-bind="productsResult.ProductName"> </div>
                                                                    <div class="itemTags organizer">
                                                                        <div class="tagInner outlineButton fillButton smallPadding whiteColor pinkBack" ng-bind="productsResult.StoreName">نام فروشگاه</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="separatorLine organizer"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="objectInMiddle textInCenter" ng-hide="searchResult.ProductsResult.length>0">
                                                    <div class="organizer">
                                                        <img src="~/newAsset/images/mailbox-empty-tool.svg" width="90" />
                                                    </div>
                                                    <div class="organizer thickFont">محصولی یافت نشد</div>
                                                    <div class="organizer twelveFontSize">با عبارتی دیگر امتحان نمایید</div>
                                                </div>
                                            </div>
                                            <div ng-show="showStoreBoxInSearch">
                                                <div class="itemContainer organizer borderBottom" ng-repeat="storesResult in searchResult.StoresResult" ng-show="searchResult.StoresResult">
                                                    <a href="~/shop/code/{{storesResult.Id}}">
                                                        <div class="itemContainer organizer radiusBox standardPadding relativeMatter">
                                                            <div class="oneThreeFullColumn">
                                                                <div class="circleImageContainer">
                                                                    <img ng-src="/{{storesResult.ImgAddress?storesResult.ImgAddress:noStorePic}}" alt="{{storesResult.Name}}" class="imageInMiddle">
                                                                </div>
                                                            </div>
                                                            <div class="twoThreeFullColumn">
                                                                <div class="itemInfoes verticallyInCenter">
                                                                    <div class="itemTitle greenColor organizer darkGray thirteenFontSize" ng-bind="storesResult.Name"> </div>
                                                                    @*<div class="itemDetail organizer smallExplain greenColor smallVerticalPadding" ng-bind="storesResult.CityName"> </div>*@
                                                                    <div class="itemTags organizer">
                                                                        <div class="tagInner outlineButton fillButton smallPadding whiteColor pinkBack" ng-bind="storesResult.CityName"> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="separatorLine organizer"></div>
                                                </div>
                                                <div class="objectInMiddle textInCenter" ng-hide="searchResult.StoresResult.length>0">
                                                    <div class="organizer">
                                                        <img src="~/newAsset/images/store.svg" width="90" />
                                                    </div>
                                                    <div class="organizer thickFont">فروشگاهی یافت نشد</div>
                                                    <div class="organizer twelveFontSize">با عبارتی دیگر امتحان نمایید</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="closeTheSearch objectStickToLeft textInCenter">
                                    <span id="closeSearchBoxInMobile" class="icon icon-cross objectInMiddle pointer"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="secondaryOptions goLeft hiddenInPhone">
                        <div class="forUs solidLineHeight thickFont goLeft">
                            <span class="goLeft relativeMatter soloHeight logo">
                                <a href="/"> <img src="~/newAsset/images/logo.png" alt="" class="imageInMiddle noObjectFits"></a>
                            </span>
                            @*<a href="~/Static/ContactUs" class="pinkColor"> <span class="goLeft borderInBothSides standardHorizontalPadding standardHorizontalMargin lostInResponse">ارتباط با ما</span> </a>
                                <a href="~/Static/UserGuid" class="pinkColor"> <span class="goLeft lostInResponse">راهنما</span> </a>*@
                            <h1>
                                <span class="goLeft leftBorder standardHorizontalLeftPadding standardHalfHorizontalLeftMargin lostInResponse moveMoreFromBottom">
                                    <span class="goLeft standardHalfVerticalBottomMargin greenColor">هوجی بوجی</span>
                                    <span class="goLeft clearLeft twelveFontSize normalFont">خرید آنلاین از صد ها فروشگاه </span>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="organizer categories textInCenter eightyFontsize thickFont standardHalfVerticalMargin hiddenInPhone">
            <nav class="boxElement relativeMatter hiddenMenuInFirst">
                <ul class="sizeManager">
                    <li class="standardVerticalPadding standardHorizontalMargin inlineList firstHandedList" ng-repeat="menu in allMenu">

                        @*<span class="icon icon-display twentyTwoFontsize standardHorizontalLeftMargin"></span>*@
                        <a href="/Search/#!/categoryCode-{{menu.Id}}">
                            <div>
                                {{menu.Name}}
                            </div>
                        </a>
                        <div class="innerList organizer textInRight standardHorizontalPadding openUpObject sizeManager">
                            <ul>
                                <!-- in list hamishe bayad 5 ta bashe -->
                                <li class="oneSevenColumn borderRight loginPadding secondHandedList" ng-repeat="subMenu in menu.SubCategories">
                                    <a href="/Search/#!/categoryCode-{{subMenu.Id}}"><div>{{subMenu.Name}}</div> </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    @RenderBody()

    <footer class="container thickFont footer" ng-controller="layoutCtrl">
        <div class="separatorLine organizer standardVerticalMargin" id="footerLine"></div>
        <div class="squizer thickFont">
            <div class="fourFullColumns organizerInPhone">
                <div class="organizer blackColor standardVerticalMargin">دسته بندی ها</div>
                <ul>
                    <li> <a href="/Search/#!/categoryCode-1"><h1>لوازم دیجیتال</h1></a></li>
                    <li> <a href="/Search/#!/categoryCode-2"><h1>زیبایی و آرایش</h1></a></li>
                    <li> <a href="/Search/#!/categoryCode-3"><h1>پوشاک و لباس</h1></a></li>
                    <li> <a href="/Search/#!/categoryCode-4"><h1>لوازم خانگی</h1></a></li>
                    <li> <a href="/Search/#!/categoryCode-5"><h1>صنایع دستی و سنتی</h1></a></li>
                    <li> <a href="/Search/#!/categoryCode-6"><h1>فرهنگ و هنر</h1> </a></li>
                </ul>
            </div>
            <div class="fourFullColumns organizerInPhone">
                <div class="organizer blackColor standardVerticalMargin">سایر صفحات</div>
                <ul>
                    <li>
                        <div>
                            <a href="~/Static/Law">
                                قوانین سایت
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="~/Static/ContactUs">
                                تماس با ما
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="~/Static/AboutUs">
                                درباره ما
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="~/Static/Complaints">
                                شکایات ، پیشنهادات
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="fourFullColumns organizerInPhone">
                <div class="organizer blackColor standardVerticalMargin">تکمیل اطلاعات</div>
                <ul>
                    <a href="~/Store/AddStore"> <li>ثبت فروشگاه</li></a>
                    <li class="pointer" ng-click="showRegisterBox();">ثبت نام</li>
                    <li class="pointer" ng-click="showLoginBox();">ورود</li>
                    @*<li>فروش ویژه</li>
                        <li>ثبت تبلیغات شما</li>*@
                </ul>
            </div>
            <div class="fourFullColumns relativeMatter organizerInPhone">
                <div class="organizer socials">
                    <div class="organizer blackColor standardVerticalMargin">ما را دنبال کنید</div>
                    <div class="organizer twentyTwoFontsize searchPart blackColor">
                        <a href="http://telegram.me/hoojibooji"><span class="icon icon-telegram standardHorizontalLeftMargin"></span></a>
                        <a href="https://plus.google.com/b/100179687917234386429/108107077749163715881?pageId=100179687917234386429"><span class="icon icon-google-plus3 standardHorizontalLeftMargin"></span></a>
                        <a href="https://www.linkedin.com/company-beta/13252116/"><span class="icon icon-linkedin standardHorizontalLeftMargin"></span></a>
                        <a href="https://www.instagram.com/hoojibooji/"><span class="icon icon-instagram standardHorizontalLeftMargin"></span></a>
                    </div>
                </div>
                <div class="organizer signs">
                    <img id='fukzesgtnbqesizpjxlz' style='width: 30%;cursor: pointer;' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=60291&p=gvkaobpduiwkpfvlrfth", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=60291&p=wlbqlymaodrfbsiynbpd' />
                    <img id='rgvldrftxlapwmcsxlap' style='width: 27%;cursor: pointer;' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=51383&p=yncrnbpdfuixaqgwfuix", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")' alt='logo-namdElectronicDigital' src='https://trustseal.enamad.ir/logo.aspx?id=51383&p=fujylznbvjymukaqvjym' />
                </div>
            </div>
        </div>
    </footer>



   
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Content/MD5_encriptin/MD5.js"></script>
    <script>
        var returnUrl = "@Html.Raw(ViewBag.ReturnUrl)";
        var app = angular.module('app', []);
     </script>
    <script src="~/newAsset/js/layout.js"></script>

 

    @RenderSection("Script", false)

    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "https://v2.zopim.com/?4faxteyy0f515HRP92eBL75N76krLJrg"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    <!--End of Zendesk Chat Script-->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-90647252-1', 'auto');
        ga('send', 'pageview');

    </script>

    @*<script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "http://hoojibooji.com",
        "url": "http://hoojibooji.com",
        "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+98-935-189-2347",
        "contactType": "shopping"
        }]
        }
        </script>*@

</body>
</html>
